<!DOCTYPE HTML>
<html>
{%- include head_2.html -%}
<style>
	body {
		font-family: Noto Sans SC;
		font-size: 16px;
	}

	p,
	ul,
	ol,
	dl,
	table {
		margin-bottom: 0.5em;
	}

	strong,
	b {
		font-weight: 500;
		color: #666;
	}

	section ul,
	section ol,
	.container ul,
	.container ol,
	article ul,
	article ol {
		padding-left: 0.25em;
		margin-left: 1.25em;
	}
</style>

<body>
	<!-- Main -->
	<div>
		<!-- Post -->
		<div class="container" style="margin-top: 10px;">
			{{- content -}}
		</div>
	</div>
	<!-- Footer -->
	<center style="margin: 20px;">
		<!-- Copyright -->
		{% if site.title or site.author %}
		&copy; {{- site.title | default: site.author -}}. All rights reserved.
		{% endif %}
	</center>
</body>

</html>